{% extends 'base.html' %}

{% load static %}

{% block content %}

<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us.....</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Here is all you need to know about me</p>
                </div>
            </div>
        </header>

        <div class="container ">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify" class="py-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In modi sunt, cupiditate, voluptates iusto voluptas error nam dicta porro quas, nostrum repudiandae mollitia consectetur adipisci ipsa quisquam tenetur eligendi aut.
                            <br/>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam cumque a eaque nobis dolorum minima veritatis quia recusandae voluptatum temporibus, tenetur, et nihil reprehenderit amet sint soluta. Fugit, accusantium temporibus?
                            <br/>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur nobis numquam veritatis vel perferendis similique quis aliquam maiores consectetur saepe dolore delectus quam illum laboriosam illo, cum obcaecati! Esse, itaque.

                        </p>
                    </div>
                </center>
            </div>

        </div>

{% endblock %}