<nav class="navbar navbar-expand-lg navbar-light bg-info text-primary">
    <div class="container px-4 px-lg-5" cl>
        <a class="navbar-brand text-white py-1 px-2 border border-2 border-info rounded" href="{% url 'home' %}" style="font-style:oblique; text-decoration:none; background-color: rgb(8, 176, 222);"> NELSON STORE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent text-white">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 text-white">
                <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'about' %}">About</a></li>

                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'logout' %}">Logout</a></li>


                     <li class="nav-item dropdown text-white">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'update_user' %}">User profile</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'update_info' %}">User Info</a></li>                            
                        </ul>
                    </li>
                    <br><br>
                    {% if user.is_superuser %}
                    <li class="nav-item dropdown text-white">
                        <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown text-white" aria-expanded="false">Orders</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-white" href="{% url 'shipped_dash' %}">Shipped Orders</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item text-white" href="{% url 'not_shipped_dash' %}">Unshipped Orders</a></li>                            
                        </ul>
                    </li>
                    {% endif %}


                {% else %}
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'login' %}">login</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'register' %}">Register</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="{% url 'search' %}">Search</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-white" href="{% url 'category_summary' %}">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item text-white" href="{% url 'category' 'Men-wears'  %}">Men-wears</a></li>
                        <li><a class="dropdown-item text-white" href="{% url 'category' 'Women-wears'  %}">Women-Wears</a></li>
                        <li><a class="dropdown-item text-white" href="{% url 'category' 'Men-shoes' %}">Men-Shoes</a></li>
                        <li><a class="dropdown-item text-white" href="{% url 'category' 'Women-shoes' %}">Women-Shoes</a></li>
                        <li><a class="dropdown-item text-white" href="{% url 'category' 'Men-caps' %}">Men-caps</a></li>
                        <li><a class="dropdown-item text-white" href="{% url 'category' 'Women-caps' %}">Women-caps</a></li>
                    </ul>
                </li>
            </ul>
            
            <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark text-white">
                    <i class="bi bi-cart-fill me-1 text-white"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                </a>
            </form>

        </div>
    </div>
</nav>
